<p-menu [model]="items" styleClass="w-full flex flex-col md:w-60 m-4 fixed h-[calc(100vh_-_30px)]">
  <ng-template #start>
    <span class="inline-flex items-center gap-1 px-2 py-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="white"
        width="33"
        height="35"
        viewBox="0 0 32 32"
        class="block mx-auto">
        <rect x="24" y="21" width="2" height="5" />
        <rect x="20" y="16" width="2" height="10" />
        <path d="M11,26a5.0059,5.0059,0,0,1-5-5H8a3,3,0,1,0,3-3V16a5,5,0,0,1,0,10Z" />
        <path
          d="M28,2H4A2.002,2.002,0,0,0,2,4V28a2.0023,2.0023,0,0,0,2,2H28a2.0027,2.0027,0,0,0,2-2V4A2.0023,2.0023,0,0,0,28,2Zm0,9H14V4H28ZM12,4v7H4V4ZM4,28V13H28.0007l.0013,15Z" />
      </svg>
      <span class="text-xl font-semibold"> DAS<span class="text-primary">BOD</span> </span>
    </span>
  </ng-template>

  <ng-template #submenuheader let-item>
    <span class="text-primary font-bold">{{ item.label }}</span>
  </ng-template>

  <ng-template #item let-item>
    <a pRipple class="flex items-center p-menu-item-link" [routerLink]="item.routerLink">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
      <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
      <span
        *ngIf="item.shortcut"
        class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
        {{ item.shortcut }}
      </span>
    </a>
  </ng-template>

  <ng-template #end>
    <ul class="p-menu-list p-reset">
      <li role="separator" class="p-menu-separator"></li>
    </ul>

    <button
      pRipple
      class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        class="mr-2"
        shape="circle" />
      <span class="inline-flex flex-col text-left">
        <span class="font-bold">Lilian</span>
        <span class="text-sm">Admin</span>
      </span>
    </button>
  </ng-template>
</p-menu>
