<p-table
  class="budget-plan-table"
  [value]="budgetPlans()"
  [tableStyle]="{ 'min-width': '60rem' }"
  dataKey="id"
  editMode="row"
  (onRowSelect)="onRowSelect($event)"
  (onRowUnselect)="onRowUnselect()"
  selectionMode="single">
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <span class="text-xl font-bold">Budgets</span>
      <div>
        <ng-content select="buttons"></ng-content>
      </div>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>Date début</th>
      <th>Date fin</th>
      <th>Montant de départ</th>
      <th>Revenu prévu</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-plan let-editing="editing">
    <tr [pSelectableRow]="plan" [pEditableRow]="plan">
      <td><app-date-editable-table-column [(date)]="plan.entityData.startDate"></app-date-editable-table-column></td>
      <td><app-date-editable-table-column [(date)]="plan.entityData.endDate"></app-date-editable-table-column></td>
      <td>
        <app-money-editable-table-column [(money)]="plan.entityData.amountAtStart"></app-money-editable-table-column>
      </td>
      <td>
        <app-money-editable-table-column [(money)]="plan.entityData.expectedIncome"></app-money-editable-table-column>
      </td>
      <td>
        <app-edit-action-table-column [editing]="editing" (edit)="onRowEditSave(plan)"></app-edit-action-table-column>
      </td>
    </tr>
  </ng-template>
</p-table>
