<p-cellEditor>
  <ng-template #input>
    <p-select
      [options]="choices()"
      [(ngModel)]="choice"
      name="choice"
      optionLabel="label"
      optionValue="id"
      [placeholder]="placeholder()"
      class="w-full md:w-56" />
  </ng-template>
  <ng-template #output>
    <ng-container *ngTemplateOutlet="selectable || defaultSelectableTemplate; context: { $implicit: choice() }">
    </ng-container>
  </ng-template>
</p-cellEditor>

<ng-template #defaultSelectableTemplate>
  {{ readableChoice() }}
</ng-template>
